.box_accounts {
  position: fixed;
  width: 100%;
  height: auto;
  top: 11%;
}

.box_nav_account {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: #e0dede;
  font-size: 30px;
}
.nav_account {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  color: #e0dede;
}
.nav_account:hover {
  background-color: rgb(0, 0, 0);
}

.box_nav_account button {
  width: 50%;
  height: 5vh;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 15px 0;
  font-size: 18px;
}

.box_acount_route {
  width: 100%;
  height: 100vh;
}

.box_info_date {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2px;
  width: 50vw;
  position: relative;
  padding: 5px;
  left: 40%;
  bottom: 25%;
  height: 60%;
  background: rgba(0, 0, 0, 0.575);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.466);
}

.box_date {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #e0dede;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.466);
}

.box_btn span{
  color: #fff;
}