.boxListAnime {
  top: 12%;
  position: relative;
  height: 100%;
}

.boxFormLsearch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15%;
}

.boxFormLsearch input {
  width: 30%;
  height: 40%;
  outline: none;
  margin: 0 20px;
  padding: 10px;
  font-size: 18px;
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}

.boxFormLsearch section {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxFormLsearch section button {
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  margin: 2px;
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  color: #fff;
}
.boxFormLsearch section button:hover {
  background: rgba(255, 255, 255, 0.788);
  color: #000;
}

.boxFormLsearch span {
  font-size: 20px;
  color: #fff;
  padding: 5px;
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.boxSearchAnime {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: 80vh;
}
.boxListSearch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 100%;

  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 0;
  text-decoration: none;
  transition: all 0.5s ease;
}

.boxListSearch:hover {
  transform: scale(0.9);
  background: rgba(139, 8, 8, 0.25);
}
.boxListSearch section {
  font-size: 18px;
  color: #fff;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  cursor: pointer;
}
.boxListSearch img {
  width: 100%;
  height: 100%;
}
