.boxAnimeSearch {
  position: relative;
  border: 2px solid red;
  height: auto;
  width: 20vw;
  left: 800px;
  bottom: 650px;
  background-color: aliceblue;
}
.boxListSearchAnime {
  display: flex;
  flex-direction: column;
}
.boxListSearchAnime span {
    padding: 5px;
  }
