.boxViewAnime {
  position: fixed;
  top: 6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
}
.newAnime {
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.viewAnimeImg {
  height: 22vh;
  width: 100%;
}

.viewAnimeImg img {
  height: 100%;
  width: 100%;
}

.boxAnime {
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  border: 3px solid rgba(4, 15, 26, 0.644);
  -webkit-backdrop-filter: blur(4px);
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 18.9vw;
  color: #fff;
}

.viewAnimeTxt span {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
}

.viewAnimeTxt p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
}

.boxBrn {
  width: 100%;
  text-align: center;
  margin: 4px;
}

.boxBrn button {
  margin: auto 10px;
  height: 3vh;
  width: 6vw;
  cursor: pointer;
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}

.boxBrn button:hover {
  color: #fff;
  background: rgba(134, 134, 134, 0.25);
}
.BoxUpdate{
  text-decoration: none;
  color: #fff;
}