.box_view_anime {
  position: fixed;
  top: 6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
}
.new_anime {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.view_anime_img {
  height: 22vh;
  width: 100%;
}

.view_anime_img img {
  height: 100%;
  width: 100%;
}

.box_anime {
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  border: 3px solid rgba(4, 15, 26, 0.644);
  -webkit-backdrop-filter: blur(4px);
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 18.9vw;
  height: 37vh;
  color: #fff;
}

.view_anime_txt span {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 10px;
  white-space: nowrap;
  font-size: 15px;
}

.view_anime_txt p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  font-size: 15px;
}

.box_btn {
  width: 100%;
  text-align: center;
  margin: 4px;
}

.box_btn button {
  margin: auto 10px;
  height: 3vh;
  width: 6vw;
  cursor: pointer;
  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}

.box_btn button:hover {
  color: #fff;
  background: rgba(134, 134, 134, 0.25);
}
.box_update{
  text-decoration: none;
  color: #fff;
}