.homecss {
  display: flex;
  gap: 15px;
  padding: 15px;
  top: 12%;
  position: relative;
}

.boxTitle {
  width: 25%;
  height: 100vh;

  background: rgba(11, 78, 140, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 5px;
  color: #fff;
}

.boxSocial {
  background: rgba(6, 37, 66, 0.664);
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boxTitle h2 {
  margin: 5px;
}
.listTitle {
  font-size: 20px;
  overflow: auto;
  height: 75%;
  padding: 10px;
}
.titleName {
  line-height: 40px;
  cursor: pointer;
  display: flex;
  padding: 5px;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.titleName:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  color: #000;
}

.boxCatalogo {
  width:75%;
  height: 100%;
  background: rgba(11, 78, 140, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  overflow: auto;

}
.boxVideo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  overflow: auto;
  height: 30%;
  height: 100vh;
  overflow: auto;
}
.video {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  width: 100%;
}
.video .title {
  color: #fff;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  padding: 5px;
}
.boxImg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
  gap: 11px;
  height: 100vh;
  padding: 10px;
}
.boxImgTitle{
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 10px 0;
  height: 40vh;
  width: 100%;
  cursor: pointer;
}

.boxImgTitle span{
  color: #fff;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
  white-space: nowrap;
  text-align: center;
  padding: 5px;
}

 #imgBox {
  width: 100%;
  height: 100%;
}

