.box_form_login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frm_login {
  width: 30%;
  height: auto;
  margin: auto;
  left: 30%;
  position: relative;
  padding: 15px;
  background: rgba( 238, 170, 170, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.frm_login h1 {
  color: #fff;
  font-size: 25px;
}
.frm_login .box_imput{
  line-height: 35px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.frm_login .box_imput input{
  width: 100%;
  height: 4vh;
  padding: 5px;
  outline: none;
  border: none;
  border-radius:5px ;
  margin: 0 5px;
}

.frm_login button {
  width: 40%;
  height: 4vh;
  background: rgba(209, 24, 30, 0.534);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor: pointer;
  color: #fff;
  margin: 5px 38px;
}

.frm_login button:hover {
  background: rgba(2, 14, 26, 0.623);
  color: #fff;
}
.frm_login .box_account{
  text-align: center;
  margin: 10px;
}

.frm_login span{
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.frm_login .Sign{
  color: #ff0000;
  text-decoration: none;
}
.frm_login .icons{
  color: #fff;
  font-size: 25px;
}

.frm_login p{
  text-align: center;
  color: #ffffff;
  margin: 5px;
}