.box_new_anime {
  height: 90vh;
  width: 100%;
  position: fixed;
  top: 10%;

  background: rgba(4, 15, 26, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box_new_anime form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    height: 80vh;
    width: 100%;
}

.box_new_anime form span{
  font-size: 30px;
  color: #fff;
}
.box_new_anime form input{
    width: 30%;
    margin: 10px;
    height: 5vh;
    padding: 5px;
    outline: none;
    
    background: rgba(4, 15, 26, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
}

.box_new_anime form textarea{
    width: 30%;
    padding: 5px;
    height: 40%;
    outline: none;
    background: rgba(4, 15, 26, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
}

.box_new_anime form button{
    width: 30%;
    height: 5vh;
    margin: 5px;
    background: rgba(4, 15, 26, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    cursor: pointer;
}

.box_new_anime form button:hover{
   color: #fff;
    background: rgba(0, 0, 0, 0.25);
 
}

.box_new_anime p{
   font-size: 15px;
   color: #fff;
}

